@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  font-family: "Roboto", sans-serif;
  overscroll-behavior-y: none;

}
body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #181818;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4e00cc30, #1e80ff60);
  transition: background 0.4s;
}

body::-webkit-scrollbar-thumb:hover {
  transition: background 0.4s;
  background: linear-gradient(180deg, #4e00cc70, #1e80ff70);
}

.animated-link {
  position: relative;
  box-decoration-break: clone;
  text-decoration: none;
}

.animated-link:hover:after {
  transform: translateZ(0) scale(1);
}

.animated-link:after {
  left: 0;
  right: 0;
  bottom: -3px;
  content: "";
  height: 2px;
  position: absolute;
  transform: translateZ(0) scaleX(0);
  transform-origin: left center;
  transition: all 0.15s ease-in-out;
  background-image: linear-gradient(
    to right,
    #a8d0e6,
    #a8d0e6
  );
}

.animated-link.show:after {
  transform: translateZ(0) scale(1);
}
