---
import AppLayout from "@layouts/AppLayout.astro";
import { Image } from "astro:assets";
import authorImage from "../assets/me.png";
import singaporeFlag from "../assets/flag-for-singapore.svg";
import { author } from "@data/socials";
---

<AppLayout title="Home">
  
  <header class="sm:grid grid-cols-2 sm:items-center sm:justify-between sm:h-[74vh] overflow-hidden">
      <div class="rounded aspect-square overflow-hidden drop-shadow-none lg:drop-shadow-[0px_0px_35px_rgba(83,70,250,0.90)] items-center align-middle flex">
        <Image
        src={authorImage}
        alt="Image of the author"
        loading="eager"
        width={320}
        height={320}
        />
      </div>
      <div class="mt-8 max-w-lg 2xl:max-w-xl sm:my-0 sm:order-last">
        <h1
        class="mb-2 text-3xl font-bold tracking-tight dark:text-white text-zinc-900 sm:text-4xl"
        >
        {author}
      </h1>
      <p class="mb-4 dark:text-lightGray text-zinc-700 flex items-center">
        Full Stack Developer from Singapore 
        <Image src={singaporeFlag} alt="Singapore Flag" height={25} width={25} class="mx-2 inline-block" />
      </p>
      <p
      class="max-w-prose font-normal text-sm md:text-lg dark:text-charcoalGray text-zinc-600 sm:max-w-sm md:max-w-xl leading-relaxed"
      >
      I am a self-taught developer who loves to build things for the web. I
      have been coding for 3 years now and I am always looking to learn new
      things. I am currently working on a few projects, but I am always open
      to new opportunities.
    </p>
</div>
</header>
</AppLayout>
