---
import { author, email } from "@data/socials";
import Icon from "astro-icon";
---

<!-- <script>
    const currentYear = new Date().getFullYear();
    const yearElement = document.getElementById('year');
    yearElement.innerText = currentYear;
</script> -->
<footer
  class="relative bottom-0 items-center text-charcoalGray py-4 justify-center w-full gap-1"
>
  <div class="text-sm text-center cursor-default">
    &copy;&nbsp;2025 |
    <a
      href=`mailto:${email}`
      class="text-lightGray"
      title="Contact Me"
      rel="noopener noreferrer"
    >
      {author}
      <Icon
        name="mdi:email"
        class="w-4 h-4 items-center inline-flex align-middle"
      />
    </a>
  </div>
  <div class="text-sm text-center flex items-center justify-center">
    Made with too many cups of coffee.
  </div>
  <div class="text-sm text-center flex items-center justify-center">
    Design inspired by&nbsp;
    <a
      href="https://github.com/cojocaru-david/cojocarudavid.me"
      rel="noopener noreferrer"
      class="underline">Cojocaru</a
    >
     &nbsp;&&nbsp;
    <a
      href="https://astro.build/themes/details/astropaper/"
      rel="noopener noreferrer"
      class="underline">AstroPaper</a
    >
  </div>
</footer>
