---
import { Image } from "astro:assets";

const imageFiles = import.meta.glob("/src/assets/photos/*", { eager: true });
const imagePaths = Object.keys(imageFiles)
  .filter((file_path) => file_path != "/src/assets/photos/hero_img.jpg")
  .sort(() => Math.random() - 0.5);
---

<div class="embla">
  <div class="embla__container">
    {
      imagePaths.map((path: string) => {
        const fileName = (path.split("/").pop() || "")
          .replace(".png", "")
          .replace(".jpg", "")
          .replace(".jpeg", "");
        return (
          <Image
            id="carousel-image"
            src={(imageFiles[path] as { default: string }).default}
            alt={fileName}
            width={3000}
            height={3000}
          />
        );
      })
    }
  </div>
</div>

<script>
  import EmblaCarousel from "embla-carousel";
  import Autoplay from "embla-carousel-autoplay";
  import Fade from "embla-carousel-fade";

  const emblaNode = document.querySelector(".embla") as HTMLElement;
  const options = { loop: true, watchDrag: false };
  const plugins = [Autoplay({ delay: 3000 }), Fade()];
  if (emblaNode) {
    const emblaApi = EmblaCarousel(emblaNode, options, plugins);
  }
</script>
<style>
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
</style>
