---
import techData from "@data/technologies.json";
const { tags } = Astro.props;
---

<div class="mt-5">
  <ul class="flex flex-wrap gap-2 py-2">
    {
      tags.map((tag: string) => (
        <li class="rounded-md h-min px-2 py-1 text-sm dark:bg-zinc-700 bg-zinc-100 text-zinc-600 dark:text-zinc-300">
          {tag}
        </li>
      ))
    }
  </ul>
</div>
