---
import techData from "@data/technologies.json"
const { tags } = Astro.props;

const flattenedTech = Object.values(techData).flat();

---

<div class="mt-5">

  <ul class="flex flex-wrap gap-2">
    {
      tags.map((t: string) => {
      const techInfo = flattenedTech.find((item) => item.text.toLowerCase() === t.toLowerCase());

        return (
          <a href={`/tags/${t.replace(" ", "_")}`}>
            <li
              class={`px-3 py-1 rounded-md text-sm font-medium transition-all hover:scale-105 text-light hover:shadow-md `}
              style={{ backgroundColor: techInfo?.hoverColor || "#333" }}
            >
              {t}
            </li>
          </a>
        );
      })
    }
  </ul>
</div>
