---
const { headings } = Astro.props;
import type { headingObject } from "src/utils";

const depthToPadding: { [key: number]: string } = {
  1: "pl-0",
  2: "pl-2",
  3: "pl-4",
  4: "pl-6",
  5: "pl-8",
  6: "pl-10",
};
---

<aside class="hidden lg:block fixed top-24 right-4 w-64">
  <div
    class="bg-zinc-900/80 backdrop-blur-lg p-4 rounded-2xl shadow-lg border border-zinc-800 max-h-[75vh] overflow-y-auto"
  >
    <h2 class="text-blue-400 font-semibold mb-3 text-sm tracking-tight">
      On this page
    </h2>
    <ul class="space-y-2 text-sm text-gray-300 overscroll-y-auto">
      {
        headings.map((heading: headingObject) => (
          <li
            class={`${depthToPadding[heading.depth] ?? "pl-0"} transition-all`}
          >
            <a
              href={`#${heading.slug}`}
              class="hover:text-blue-300 block py-1 capitalize font-medium"
            >
              {heading.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</aside>
