---
import AppLayout from "@layouts/AppLayout.astro";
import Pagination from "@components/Pagination.astro";

interface Props {
  title: string;
  description: string;
  pubDate: Date;
  updatedDate: Date | undefined;
  firstPost?: boolean;
}

const { title, description, pubDate, updatedDate, firstPost } = Astro.props;
---

<AppLayout
  title={title}
  description={description}
  pubDate={pubDate}
  updatedDate={updatedDate ?? pubDate}
>
  <article class="prose dark:prose-invert p-6">
    <slot />
  </article>
  {
    !firstPost ? (
      <>
        <p class="text-sm text-zinc-500">
          Published on {new Date(pubDate).toLocaleDateString()}
        </p>
        <Pagination mode="now" />
      </>
    ) : null
  }
</AppLayout>
